vsphere_user = "{{ vsphere_user }}"
vsphere_password = "{{ vsphere_password }}"
vsphere_vcenter = "{{ vsphere_vcenter }}"
vsphere_unverified_ssl = true
vsphere_datacenter = "{{ vsphere_datacenter }}"
vsphere_cluster = "{{ vsphere_cluster }}"
vm_datastore = "{{ vm_datastore }}"
vm_network = "{{ vm_network }}"
vm_name = "{{ vm_name }}"
vm_cpu = {{ vm_cpu }}
vm_ram = {{ vm_ram }}
vm_guest = "{{ vm_guest }}"
vm_network_adapter_type = "{{ vm_network_adapter_type }}"
vm_disk_size = {{ vm_disk_size }}
vm_disk_label = "{{ vm_disk_label }}"
vm_core_per_socket = "{{ vm_core_per_socket }}"