vsphere_user           = "{{ vsphere_user }}"
vsphere_vcenter        = "{{ vsphere_vcenter }}"
vsphere_unverified_ssl = true
datacenter             = "{{ datacenter }}"
cluster                = "{{ cluster }}"
datastore              = "{{ datastore }}"
name                   = "{{ name }}"
cpu                    = {{ cpu }}
ram                    = {{ ram }}
disksize               = "{{ disk_size }}"
hostname               = "{{ hostname }}"
ip_addr                = "{{ ip_addr }}"
cidr                   = {{ cidr }}
defaultGW              = "{{ defaultGW }}"
{% if dns_server1 -%}dns_server1            = "{{ dns_server1 }}"
{% endif -%}
{% if dns_server2 -%}dns_server2            = "{{ dns_server2 }}"
{% endif -%}
vlan_id                = {{ vlan_id }}
template-name          = "cloud-init-template"