vsphere_user = "{{ vsphere_user }}"
vsphere_password = "{{ vsphere_password }}"
vsphere_vcenter = "{{ vsphere_vcenter }}"
vsphere_unverified_ssl = true
datacenter = "{{ datacenter }}"
cluster = "{{ cluster }}"
datastore = "{{ datastore }}"
network = "{{ network }}"
name = "{{ name }}"
cpu = {{ cpu }}
ram = {{ ram }}
guest_os = "{{ guest_os }}"
network_adapter_type = "{{ network_adapter_type }}"
disk_size = {{ disk_size }}
disk_label = "{{ disk_label }}"
num_cores_per_socket = "{{ num_cores_per_socket }}"